# ===============================
# IGSISMANI API CONFIGURATION
# ===============================

# Absolute path to the iganima configuration file
IGSISMANI_DEFAULT_IGANIMA_CONFIG=$HOME/igsismani/config/iganima.cfg

# Absolute path to the repository root (where run_igsismani.py exists)
IGSISMANI_REPO_DIR=$HOME/igsismani/


IGSISMANI_LOGGING_INI=$HOME/igsismani/config/logging.ini


# Maximum number of concurrent video jobs
IGSISMANI_MAX_CONCURRENT_JOBS=3

# Optional: maximum execution time per job (seconds)
IGSISMANI_JOB_TIMEOUT_SECONDS=333 

